@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    
    --card: 225 35% 17%;
    --card-foreground: 0 0% 100%;
    
    --popover: 225 35% 17%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 213 100% 65%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 225 25% 21%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 225 25% 21%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 225 25% 21%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 225 25% 21%;
    --input: 225 25% 21%;
    --ring: 212.7 26.8% 83.9%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}